# Lecture 01: Introduction to Jupyter Notebooks [100 points total]
Jupyter is an enviroment in which code in the [Python programming language](https://en.wikipedia.org/wiki/Python_(programming_language)) can be combined with text (Using the *Markdown* markup language).  Jupyter notebooks are divided into editable cells.  You are currently reading a *text* cell.

**Double-click on this cell and enter your name below**
Joanne Li

# Fonts
In text cells, headers are denoted by a \#

You can *italicize* text by by **surrounding** it with like \*this\*.
You can **bold** text by **surrounding** it like \*\*this\*\*.


Try it by **making every occurance of the word "surrounding" bold**

# Bulleted lists
Bulleted lists are denoted by a * for each item.  **Add a few items to the list below**.

My favorite foods are
* Pizza
* Ice Cream
* Pasta
* Crawfish
* Steak

# Equations
You can write equations using LaTeX.  A tutorial can be found [here](https://personal.math.ubc.ca/~pwalls/math-python/jupyter/latex/). Surround text with dollar signs to implement an inline equation.  For example the circumference of a circle is $c = 2 \pi r$.  Surround text with double dollar signs to display equation below text.  For example $$a^2+b^2 = c^2$$.

**Write the equation for the area of a circle below**
$$A = \pi r^2$$

# Python
Finally we get to run some Python code.  In Python the `print` function is used to display text.  Note that the text must be in either double " or single ' quotes.  Let's display the words `Hello world` in the code cell below

In [1]:
"""
Example: Say hello
"""
print("Hello world")

Hello world

# Variables
Varibles are used to store values.  For example let's add two numbers and display the result

In [10]:
"""
Example: Addition
"""
a = 10
b = 7
print(a + b)

17

Variables that contain text are refered to as **strings**.  Let's say hello to ourselves

In [12]:
"""
Example: String Varibles
"""
name = "Joanne"
print("Hello", name)

Hello Joanne

You can **prompt** the user to enter their name using the `input` function.

In [ ]:
"""
Example: Prompt for input
"""
name = input("Enter your name: ")
print("Hello", name)

Hello Joanne

# Operators
Basic operators are
* `+` for addition
* `-` for subraction
* `*` for multiplication
* `/` for division

### Example
Write a program that prompts the user for the temperature in degrees F and displays the temperature in degrees C.  Note that $$C = \frac{5}{9}(F - 32)$$

In [ ]:
"""
Example: F to C
"""

f = float(input("Enter temperature in Fahrenheit: "))
c = 5.0/9.0 * (f - 32)

### Activity 1 [20 points]
There are 1.61 kilometers in a mile
* Prompt the user for a number of miles
* Display the corresponding number of kilometers.  

Your output should look like
```
Enter miles: 10.5
This is 16.905 kilometers.
```

In [9]:
"""
Activity: Miles to Kilometers
"""

miles = float(input("Enter miles: "))
km = miles * 1.61

print(f"This is {km} kilometers.")

This is 3.703 kilometers.

# Math module
Modules add additonal functionality to Python.  You can import the math module using `import math` to use `math.sqrt` and `math.pi`.  Use `**` to raise value to a power.  You can use **f-strings** for formatted printing of variable.

In [ ]:
"""
Example: Circle Area
"""
import math
# given radius, compute area

r = float(input("Enter radius: "))
area = math.pi * r**2
print(f"Circle area is {area:.2f}")

The area is 31415.93

In [ ]:
"""
Example: Square
"""
# given square area, compute side length
import math

area = float(input("Enter square area: "))
length = math.sqrt(area)
print(f"The side length is {length:.1f}")

Square area is 9.0

### Activity 2 [20 points]
The distance between two points with coordinates $(x_1, y_1)$ and $(x_2, y_2)$ is $$D = \sqrt{(x_1 - x_2)^2 + (y_1 - y_2)^2}$$
 * Prompt the user for $x_1$, $y_1$, $x_2$ and $y_2$ [8 points]
 * Then display the distance [8 points]
 * Make sure result is rounded to 2 decimal places [2 points]
```
Enter x1: 0.75
Enter y1: 2
Enter x2: 1.2
Enter y2: 3
Distance is 1.10
```

In [20]:
"""
Activity: Distance Between two points
"""
import math

x1 = float(input("Enter x1: "))
y1 = float(input("Enter y1: "))
x2 = float(input("Enter x2: "))
y2 = float(input("Enter y2: "))

dist = math.sqrt((x1 - x2)**2 + (y1 - y2)**2)
print(f"Distance is {dist:.2f}")

Distance is 1.10

# Additonal Operators
In Python the `//` is used to perform integer (whole number) division while `%`, often refered to as the *modulus operator* is used to find the remainder

In [25]:
"""
Example: Division and Modulus
"""

a = 5
b = 3
print("a / b =", a / b)    # Division
print("a // b =", a // b)  # Integer division
print("a % b =", a % b)    # Modulus

a / b = 1.6666666666666667
a // b = 1
a % b = 2

# Decisions
It is often necessary for a program to make a decision.  In Python this is is done using an **`if`** statement followed by optinal else if **`elif`** statements an finally an optional **`else`** statement.

### Example
Write a program that prompts the user for an interger and states you if it is even, odd or not an integer

In [32]:
"""
Example: Even or Odd
"""

num = float(input("Enter an number: "))
if num % 2 == 0:
    print(f"{num} is even")
elif num % 2 == 1:
    print(f"{num} is odd")
else:
    print("This is not an integer")

This is not an integer

### Example
Use **or** operator or **and** operator to combine multiple conditions in a decision

In [33]:
"""
Example: Pizza
"""

answer = input("Do you like Pizza?").lower()
if answer == "y" or answer == "yes" or answer == "yeah":
    print("Great! I like pizza too!")
else:
    print("I can't believe you don't like pizza!")

I can't believe you don't like pizza!

### Activity 3 [20 points]
In most cases a leap year occurs in years that are divisible by 4 but an exception occurs in years divisible by 100. A year divisible by 100 is a leap year only if it is also divisible by 400.  For example 1600 and 2000 were leap years but 1700, 1800 and 1900 were not.

 * Prompts the user for a year [5 points]
 * Then using decision statement to determine if the year is a leap year [15 points]

Your output should look like the following.

```
Enter a year: 2021
2021 is not a leap year
```
```
Enter a year: 2012
2012 is a leap year
```
```
Enter a year: 1900
1900 is not a leap year
```

In [ ]:
"""
Activity: Leap Year
"""
# lmfao what does it mean by a year divisible by 100 is a leap year only if it is also divisible by 400
# aren't all years divisible by 400 also divisible by 100?

year = int(input("Enter a year: "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year")
else:
    print(f"{year} is not a leap year")

1900 is not a leap year

# Loops
In programming, loops are used to repeat a tasks. **`for`** loops are used with iterables objects such as **`range`** which generates a range of numbers.  By default range always starts from 0 and excludes the last number.

In [34]:
"""
Example: Count to 10
"""

for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [35]:
"""
Example: Count starting from 1 to 10 by twos
"""

for i in range(1, 11, 2):
    print(i)

1
3
5
7
9

### Activity 4 [20 points]
* Prompt the user for a start year and an end year [5 points].
* Then print all leap years between the start and end year [15 points].  

Example output should look like
```
Enter start year: 2000
Enter end year: 2008
2000
2004
2008
```
```
Enter start year: 1895
Enter end year: 1905
1896
1904
```

In [37]:
"""
Example: Leap Loop
"""

start_year = int(input("Enter start year: "))
end_year = int(input("Enter end year: "))

# print all leap years between the start and end year (inclusive)
for year in range(start_year, end_year + 1):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        print(year)

1896
1904

# Functions
**Functions** are a way to divide complex programs into a modular simpler reusable parts.  Functions are defined using the **`def`** keyword.  The **`return`** statement does two things
1. Exits the function
2. Returns a value

### Example
The factorial of an integer $n$ denoted $n!$ is the product of itself and all natural numbers less than it.   For example $4! = 1 \cdot 2 \cdot 3\cdot 4 = 24$.  By convention $0! = 1$.  Write function **`factorial`** to calculate this

In [38]:
"""
Example: Factorial
"""

def factorial(n):
    result = 1
    for i in range(2, n + 1):
        result *= i
    return result

factorial(4)

24

# Lists
A **list** in Python is an ordered sequence of elements in which each element is called an **item**. Let's define and print a list.  The `append` method is used to add items to the end of the the list.  Lists are indexed using square brackets.

In [43]:
"""
Example
"""

L = [1, 2.5, "dog", "cat"]
print(len(L))

print(L[0]) # first value
print(L[-1]) # last value

4
1
cat

We can use loop through items in a list

In [ ]:
"""
Example
"""

for item in L:
    print(item)

### Example
The lucas sequance always starts with the values 2 and 1.  Subsequent values are the sum of the previous 2 values.

> 2, 1, 3, 4, 7, 11, 18 ...

Write function `lucas(n)` that returns the first `n` values of this sequence as a list

In [ ]:
"""
Example: Lucas sequence
"""

def lucas(n):
    if n == 0:
        return 2
    elif n == 1:
        return 1
    else:
        return lucas(n - 1) + lucas(n - 2)

### Activity 5 [10 points]
Write a function `leaps(start, end)` that returns a list of all leap years between `start` and `end`.  
 * Show that `leaps(2000,2008)` returns `[2000, 2004, 2008]` [10 points]
 * Also show that `leaps(1895,1905)` returns `[1896, 1904]` [10 points]

In [1]:
"""
Activity: Leap Function
"""

def leaps(start, end):

    leap_years = []
    for year in range(start, end + 1):
        if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
            leap_years.append(year)
    return leap_years

print(leaps(2000, 2008))
print(leaps(1895, 1905))

[2000, 2004, 2008]
[1896, 1904]